#profile-main {
    background-color: #D7EEFF;
}

.data-in-circle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-in-circle {
    width: 15vw;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 10px solid #84B7EE;
    border-radius: 50%;
}

.data-in-circle-under-text {
    font-size: 20px;
    margin-top: 15px;
}

#avatar-side-data {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
