#switch-col {
    display: flex;
    justify-content: flex-end;
}

.col-text {
    color: #45A8FF;
    font-size: 20px;
}

.change-password-button {
    color: #ECF7FF;
    background-color: #F46D78;
    font-size: 16px;
}

.change-password-button:hover,
.change-password-button:focus {
    color: white !important;
    background-color: #f15865 !important;
    border-color: transparent !important;
}

.section-header {
    font-size: 24px;
}

.form-input-field {
    color: #84B7EE;
    background-color: #ECF7FF;
    border: 2px solid #84B7EE;
}

.form-input-field:focus,
.form-input-field:hover,
.form-input-field:focus-within {
    background-color: #ECF7FF;
}