.theory-tests-problems-main {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #D7EEFF;
}

.theory-tests-problems-header {
    width: 100%;
    min-height: 6.5%;
    display: flex;
}

.theory-tests-problems-tab-names {
    font-size: 26px;
    line-height: 20px;
    text-shadow: none !important;
}

.theory-tests-problems-tabs-content {
    width: 67vw;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #84B7EE;
    border-radius: 5px;
    margin-bottom: 10px;
}

.theory-logo-box {
    width: 100%;
    height: 6.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #84B7EE;
}

.theory-block-box {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 12px;
}

.theory-definition {
    background-color: #84B7EE;
}

.theory-theorem {
    background-color: #7B92DB;
}

.theory-proof {
    background-color: #6F60C1;
}

.theory-axiom {
    background-color: #9489D1;
}

.test-question-box {
    max-width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ECF7FF;
    border: 2px solid #84B7EE;
    border-radius: 20px; 
}

.test-question-item {
    width: 90%;
    margin-bottom: 14px;
    border-radius: 10px;
    background-color: white;
    color: #45A8FF;
    font-size: 20px;
}

.test-question-item:active {
    background-color: #D7EEFF;
}

.test-question-item.ant-radio-wrapper-checked {
    background-color: #D7EEFF !important;
}
